.lastscreen {
  margin: 0 auto;
  padding-top: 10.462vh;
  height: 51.203vh;
  width: 148.15vh;
}

.lastscreen__wrapper {
  display: flex;
  justify-content: space-between;
}

.lastscreen__left_content {
  width: 71.759vh;
  font-weight: 700;
  font-size: 6.018vh;
  line-height: 7.315vh;
  text-transform: uppercase;
}

.lastscreen__right_content {
  width: 48.981vh;
  height: 51.204vh;
}

.lastscreen__text_form {
  width: 48.981vh;
  height: 4.259vh;
  font-weight: 500;
  font-size: 1.66vh;
  line-height: 130%;
  text-transform: uppercase;
}
