.firstscreen {
  height: 1080px;
}

.firstscreen__header {
  width: 1600px;
  height: 82px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  display: flex;
}

.firstscreen__logotype {
  width: 151px;
  height: 30px;
  padding-top: 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #000000;
}

.firstscreen__menu {
  width: 653px;
  display: flex;
  justify-content: space-between;
}

.firstscreen__nav {
  width: 653px;
}

.firstscreen__nav_team {
  display: flex;
  justify-content: space-between;
  width: 331px;
  padding-top: 33px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.firstscreen__button {
  position: absolute;
  width: 243px;
  height: 45px;
  left: 1517px;
  top: 19px;
  background: #000000;
}

.firstscreen__text_btn {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.firstscreen__content > p {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 160px;
  line-height: 194px;
  text-transform: uppercase;
  color: #000000;
}

p:nth-child(1) {
  top: 83px;
  left: 160px;
}

p:nth-child(2) {
  top: 285px;
  left: 1449px;
}

p:nth-child(3) {
  top: 461px;
  left: 568px;
}

p:nth-child(4) {
  width: 265px;
  height: 90px;
  top: 118px;
  left: 1464px;
  box-sizing: content-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
}

p:nth-child(5) {
  position: absolute;
  width: 130px;
  height: 17px;
  left: 104px;
  top: 865px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #000000;
  transform: rotate(-90deg);
}

.firstscreen__content_pointer {
  position: absolute;
  top: 876px;
  left: 187px;
}

.firstscreen__img {
  position: absolute;
  top: 714px;
  left: 568px;
  width: 1352px;
  height: 366px;
}
