.first__screen {
  width: 1920px;
  height: 1080px;
}

.header {
  width: 1600px;
  height: 82px;
  margin: 0 160px;
  border-bottom: 1px solid #000000;
  display: flex;
}

.logotype {
  width: 151px;
  height: 30px;
  padding-top: 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #000000;
}

.nav__sidebar {
  display: flex;
  justify-content: space-between;
  width: 473px;
  padding-top: 33px;
  padding-left: 633px;
}

.button {
  position: absolute;
  width: 243px;
  height: 45px;
  left: 1517px;
  top: 19px;
  background: #000000;
}

.text__btn {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.content > p {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 160px;
  line-height: 194px;
  text-transform: uppercase;
  color: #000000;
}

.content:nth-child(1) {
    
}