.first__screen {
  width: 1920px;
  height: 1080px;
}

.menu {
  width: 1600px;
  height: 82px;
  margin: 0 160px;
  border-bottom: 1px solid #000000;
  display: flex;
}

.logotype {
  width: 151px;
  height: 30px;
  padding-top: 27px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;

  color: #000000;
}

.nav__sidebar {
    
}