.projects {
  margin: 0 auto;
  display: flex;
  padding-top: 6.11vh;
  height: 60.833vh;
  width: 148.15vh;
}

.projects__title {
  font-size: 8.33vh;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
}

.projects__filter {
  margin-top: 5.55vh;
  display: flex;
  gap: 4.6vh;
  flex-wrap: wrap;
}



@media screen and (max-width: 1024px) {
  .projects {
    margin: 0 auto;
    padding-top: 11.72vw;
    height: auto;
    width: 94.14vw;
    flex-direction: column;
  }

  .projects__title {
    font-size: 6.84vw;
  }

  .projects__cards_and_description {
    display: flex;
    box-sizing: border-box;
    width: 94.14vw;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    margin: 0 auto;
    padding-top: 13.02vw;
    height: auto;
    width: 94.79vw;
  }

  .projects__title {
    font-size: 7.16vw;
  }
}

@media screen and (max-width: 375px) {
  .projects {
    margin: 0 auto;
    padding-top: 33.07vw;
    width: 89.33vw;
  }

  .projects__title {
    font-size: 9.33vw;
  }

  .projects__cards_and_description {
    display: block;
    box-sizing: border-box;
    width: 89.33vw;
  }
}
