.second__screen_main {
  margin: 0 auto;
  padding-top: 15.74vh;
  display: flex;
  justify-content: space-between;
  height: 60.833vh;
  width: 148.15vh;
}

.animation__text_block {
  display: block;
}

.animation__text_first_part,
.animation__text_second_part {
  width: 71.21vh;
  text-transform: uppercase;
  font-size: 6.02vh;
  font-weight: 700;
  line-height: 7.31vh;
  transition: 1s ease-in-out;
}

.animation__text_second_part {
  color: #fff;
}

.animation__black_lines {
  margin-left: -0.926vh;
  margin-top: -21.85vh;
}

.animation__1th_black_line {
  margin-bottom: 0.463vh;
  height: 6.944vh;
  width: 41.11vh;
  background-color: #000;
  transition: 0.7s ease-in-out;
}

.animation__2th_black_line {
  margin-bottom: 0.463vh;
  height: 6.944vh;
  width: 43.98vh;
  background-color: #000;
  transition: 0.7s ease-in-out;
}
.animation__3th_black_line {
  height: 6.944vh;
  width: 46.48vh;
  background-color: #000;
  transition: 0.7s ease-in-out;
}

.right__part {
  display: flex;
  margin-left: 17.6px;
  flex-direction: column;
}

.conversation__image {
  margin-right: 20.55vh;
  display: block;
  width: 37.037vh;
  height: 37.037vh;
  background: no-repeat url("../secondScreen/people.png");
  background-size: cover;
}

.decoration_marks {
  margin-top: -12vh;
  transform: rotate(-180deg);
  font-size: 18.52vh;
  font-weight: 300;
}

.text_paragraph_1,
.text_paragraph_2,
.text_paragraph_3 {
  margin-left: 9.722vh;
  width: 35vh;
  font-size: 1.48vh;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 130%;
}

.text_paragraph_1 {
  position: relative;
}

.text_paragraph_2,
.text_paragraph_3 {
  margin-top: 1.38vh;
}

.second_screen__yellow_mark {
  margin-top: -3.8vh;
  position: absolute;
  margin-left: 8vh;
  width: 31.48vh;
  height: 1.66vh;
  background: no-repeat url(./second_screen__yellow_mark.svg);
  background-size: contain;
  z-index: -99;
}
