.second__screen {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
  width: 148.15vh;
}

.animation__text_block {
  padding-top: 18.518vh;
  display: block;
}

.animation__text_first_part,
.animation__text_second_part {
  width: 71.21vh;
  text-transform: uppercase;
  font-size: 6.02vh;
  font-weight: 700;
  line-height: 7.31vh;
  transition: 0.6s ease-out;
}

.animation__text_second_part {
  color: #fff;
}

.animation__black_lines {
  margin-left: -0.926vh;
  margin-top: -21.85vh;
}

.animation__1th_black_line {
  margin-bottom: 0.463vh;
  height: 6.944vh;
  width: 41.11vh;
  background-color: #000;
  transition: 0.6s ease-out;
}

.animation__2th_black_line {
  margin-bottom: 0.463vh;
  height: 6.944vh;
  width: 43.98vh;
  background-color: #000;
  transition: 0.6s ease-out;
}
.animation__3th_black_line {
  height: 6.944vh;
  width: 46.48vh;
  background-color: #000;
  transition: 0.6s ease-out;
}

.right__part {
  padding-top: 18.518vh;

  display: flex;
  margin-left: 17.6px;
  flex-direction: column;
}

.conversation__image {
  margin-right: 20.55vh;
  display: block;
  width: 37.037vh;
  height: 37.037vh;
  background: url("../secondScreen/people.png");
}

.decoration_marks {
  margin-top: -10.18vh;
  transform: rotate(-180deg);
  font-size: 18.52vh;
  font-weight: 300;
}

.text_paragraph {
  margin-left: 8.33vh;

  width: 36.01vh;
  font-size: 1.66vh;
  font-weight: 400;
  line-height: 2.12vh;
  text-transform: uppercase;
  line-height: 130%;
}

.second_screen__yellow_mark {
  margin-top: -17vh;
  margin-left: 6vh;
  width: 34.91vh;
  height: 1.66vh;
  background: no-repeat url(./second_screen__yellow_mark.svg);
  background-size: contain;
  z-index: -99;
}
