.form__button {
  position: relative;
  display: block;
  width: 22.5vh;
  height: 5.09vh;
  background-color: #000000;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 1.76vh;
  color: #ffffff;
}
