.form {
  margin-top: 5.55vh;
  width: 48.981vh;
  height: 32.87vh;
  border-top: 0.09vh solid #d1d1d1;
}

.form__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_labels {
  display: inline-block;
  font-size: 1.66vh;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
}

.form__input,
.form__textarea {
  display: inline-block;
  width: 35vh;
  height: 7.407vh;
  border: none;
  outline: none;
}

textarea {
  resize: none;
  padding-top: 1vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 1.66vh;
  font-weight: 400;
  line-height: 130%;
}

.form__borders {
  border-bottom: 0.09vh solid #d1d1d1;
}

.agree_and_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.77vh 0 0;
  justify-content: space-between;
}

.form__policy {
  margin: 1.8vh 0 0;
  display: flex;
}

.form__checkbox {
  opacity: 0;
  width: 0;
}

.form__policy_text {
  margin-left: 1.39vh;
  display: inline-block;
  font-weight: 400;
  font-size: 1.48vh;
  color: #787878;
}

.form__checkfake {
  align-self: flex-start;
  width: 1.389vh;
  height: 1.389vh;
  border: 0.09vh solid #1f1f1f;
  cursor: pointer;
}

.form__checkfake::before {
  position: absolute;
  content: "";
  display: block;
  width: 1.269vh;
  height: 1.269vh;
  background: url("./checkmark.svg");
  opacity: 0;
}

.form__checkbox:checked + .form__checkfake::before {
  opacity: 1;
}

.form__focus {
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 0.926vh;
  font-size: 1.204vh;
}

.form__focus_consent {
  position: relative;
  top: 0.926vh;
  text-transform: uppercase;
  color: #ff0000;
  font-size: 1.204vh;
}

.form__consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__btn {
  margin-top: 1.296vh;
  position: relative;
  overflow: hidden;
}
