.form {
  margin-top: 5.55vh;
  width: 48.981vh;
  height: 32.87vh;
  border-top: 0.09vh solid #d1d1d1;
}

.form__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_labels {
  display: inline-block;
  font-size: 1.66vh;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
}

.form__input,
.form__textarea {
  display: inline-block;
  width: 35vh;
  height: 7.407vh;
  border: none;
  outline: none;
  font-size: 1.66vh;
  font-weight: 400;
  line-height: 130%;
}
.form__input {
  text-transform: uppercase;
}

textarea {
  resize: none;
  padding-top: 1vh;
  overflow: hidden;
  font-size: 1.66vh;
  font-weight: 400;
  line-height: 130%;
}

.form__borders {
  border-bottom: 0.09vh solid #d1d1d1;
}

.agree_and_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.77vh 0 0;
  justify-content: space-between;
}

.form__policy {
  margin: 1.8vh 0 0;
  display: flex;
}

.form__checkbox {
  opacity: 0;
  width: 0;
}

.form__policy_text {
  margin-left: 1.39vh;
  display: inline-block;
  font-weight: 400;
  font-size: 1.48vh;
  color: #787878;
}

.form__checkfake {
  align-self: flex-start;
  width: 1.389vh;
  height: 1.389vh;
  border: 0.09vh solid #1f1f1f;
  cursor: pointer;
}

.form__checkfake::before {
  position: absolute;
  content: "";
  display: block;
  width: 1.269vh;
  height: 1.269vh;
  background: url("./checkmark.svg");
  opacity: 0;
}

.form__checkbox:checked + .form__checkfake::before {
  opacity: 1;
}

.form__focus {
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 0.926vh;
  font-size: 1.204vh;
}

.form__focus_consent {
  position: relative;
  top: 0.926vh;
  text-transform: uppercase;
  color: #ff0000;
  font-size: 1.204vh;
}

.form__consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__btn {
  margin-top: 1.296vh;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .form {
    margin-top: 2.93vw;
    width: 94.14vw;
    height: auto;
    border-top: 0.1vw solid #d1d1d1;
  }

  .form_labels {
    font-size: 1.37vw;
  }

  .form__input,
  .form__textarea {
    width: 68.36vw;
    height: 7.81vw;
    font-size: 1.37vw;
  }

  textarea {
    padding-top: 0.98vw;
    font-size: 1.37vw;
  }

  .form__borders {
    border-bottom: 0.1vw solid #d1d1d1;
  }

  .agree_and_button {
    margin: 5.86vw 0 0;
  }

  .form__policy {
    margin: 1.37vw 0 0;
    align-items: center;
  }

  .form__policy_text {
    margin-left: 1.46vw;
    font-size: 1.27vw;
    width: 32.23vw;
  }

  .form__policy_text > br {
    display: none;
  }

  .form__checkfake {
    width: 0.98vw;
    height: 0.98vw;
    border: 0.1vw solid #1f1f1f;
  }

  .form__checkfake::before {
    width: 0.98vw;
    height: 0.98vw;
  }

  .form__focus {
    margin-bottom: 0.78vw;
    font-size: 1.17vw;
  }

  .form__focus_consent {
    top: 0.78vw;
    font-size: 1.17vw;
  }

  .form__btn {
    margin-top: 0.98vw;
  }
}

@media screen and (max-width: 768px) {
  .form {
    margin-top: 5.21vw;
    width: 94.79vw;
    height: auto;
    border-top: 0.13vw solid #d1d1d1;
  }

  .form_labels {
    font-size: 1.82vw;
  }

  .form__input,
  .form__textarea {
    width: 70vw;
    height: 10.42vw;
    font-size: 1.82vw;
  }

  textarea {
    padding-top: 1.3vw;
    font-size: 1.82vw;
  }

  .form__borders {
    border-bottom: 0.13vw solid #d1d1d1;
  }

  .agree_and_button {
    margin: 7.81vw 0 0;
  }

  .form__policy {
    margin: 1.86vw 0 0;
    align-items: center;
  }

  .form__policy_text {
    margin-left: 1.95vw;
    font-size: 1.69vw;
    width: 43vw;
  }

  .form__policy_text > br {
    display: none;
  }

  .form__checkfake {
    width: 1.3vw;
    height: 1.3vw;
    border: 0.13vw solid #1f1f1f;
  }

  .form__checkfake::before {
    width: 1.3vw;
    height: 1.3vw;
  }

  .form__focus {
    margin-bottom: 1vw;
    font-size: 1.5vw;
  }

  .form__focus_consent {
    top: 1vw;
    font-size: 1.5vw;
  }

  .form__btn {
    width: 31.64vw;
    height: 7.16vw;
    font-size: 2.08vw;
  }
}

@media screen and (max-width: 375px) {
  .form {
    margin-top: 5.33vw;
    width: 89.33vw;
    border-top: 0.27vw solid #d1d1d1;
  }

  .form__borders {
    width: 89.33vw;
  }

  .form_labels {
    font-size: 3.47vw;
  }

  .form__input,
  .form__textarea {
    width: 65vw;
    height: 15.2vw;
    font-size: 3.47vw;
  }

  textarea {
    padding-top: 2.67vw;
    font-size: 3.47vw;
  }

  .form__borders {
    border-bottom: 0.27vw solid #d1d1d1;
  }

  .agree_and_button {
    margin-top: 8vw;
    flex-direction: column;
  }

  .form__line {
    max-width: 89.33vw;
  }

  .form__policy {
    margin: 0;
    align-items: flex-start;
  }

  .form__policy_text {
    margin-left: 2.67vw;
    font-size: 3.47vw;
    width: 82.67vw;
  }

  .form__policy_text > br {
    display: block;
  }

  .form__btn {
    margin-top: 8.8vw;
  }

  .form__checkfake {
    width: 2.67vw;
    height: 2.67vw;
    border: 0.27vw solid #1f1f1f;
  }

  .form__checkfake::before {
    width: 2.67vw;
    height: 2.67vw;
  }

  .form__focus {
    margin-bottom: 2.67vw;
    font-size: 3.47vw;
  }

  .form__focus_consent {
    top: 2.67vw;
    font-size: 3.47vw;
  }

  .form__btn {
    height: 14.67vw;
    width: 89.33vw;
    font-size: 4.27vw;
  }
}
