.firstscreen {
  height: 89.629vh;
}

.firstscreen__content {
  margin: 0 auto;
  padding-top: 2.77vh;
  height: 50.18vh;
  width: 148.15vh;
  display: flex;
}

.firstscreen__content_left_text {
  width: 105.55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  font-weight: 400;
  font-size: 14.81vh;
  line-height: 17.96vh;
  text-transform: uppercase;
}

.firstscreen__content_left_text_hard {
  position: relative;
}

.firstscreen__content_vector_complex {
  margin-top: -1.85vh;
  margin-left: 29.63vh;
  position: absolute;
  width: 80.926vh;
  height: 1.85vh;
  background: no-repeat center url("./img/first_yellow_line.svg");
  background-size: contain;
}

.firstscreen__content_rihgt_text {
  margin-top: 2.77vh;
  margin-left: 15.8vh;
  width: 25.83vh;
  height: 30.64vh;
}

.firstscreen__content_rihgt_text_up {
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 130%;
  text-transform: uppercase;
}

.firstscreen__content_rihgt_text_down {
  position: relative;
  margin-top: 7.87vh;
  margin-left: -1.39vh;
  width: 19.91vh;
  height: 17.96vh;
  font-weight: 400;
  font-size: 14.81vh;
  line-height: 17.96vh;
  text-transform: uppercase;
}

.firstscreen__content_vector_not {
  position: absolute;
  margin-top: -1.85vh;
  margin-left: -2.77vh;
  width: 23.7vh;
  height: 1.85vh;
  background: no-repeat center url("./img/second_yellow_line.svg");
  background-size: contain;
}

.firstscreen__content_bottom_content {
  margin: 0 auto;
  margin-top: 5.55vh;
  width: 148.15vh;
  display: flex;
  justify-content: space-between;
}

.firstscreen__content_bottom_content_left {
  display: flex;
}

.firstscreen__content_bottom_content_left_scrolldown {
  margin-left: 11.11vh;
  font-weight: 500;
  font-size: 1.296vh;
  line-height: 1.57vh;
  letter-spacing: 0.05em;
  transform: rotate(-90deg);
  height: 33.8vh;
}

.firstscreen__content_bottom_content_left_scrolldown::after {
  content: "";
  margin-top: -3vh;
  margin-left: 0.5vh;
  display: block;
  background: no-repeat center url("./img/scroll_down_line.svg");
  background-size: contain;
  height: 9.259vh;
  width: 1vh;
  transform: rotate(90deg);
}

.firstscreen__content_bottom_content_right {
  margin-right: -35vh;
  width: 150vh;
  height: 33.889vh;
  background: no-repeat center url("./img/main_img_1600.webp");
  background-size: cover;
}
