.firstscreen {
  height: 89.629vh;
}

.firstscreen__content {
  margin: 0 auto;
  padding-top: 2.77vh;
  height: 50.18vh;
  width: 148.15vh;
  display: flex;
  justify-content: space-between;
}

.firstscreen__content_left_text {
  width: 105.55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  font-weight: 400;
  font-size: 14.81vh;
  line-height: 130%;
  text-transform: uppercase;
}

.firstscreen__content_left_text_hard {
  position: relative;
}

.firstscreen__content_rihgt_text {
  margin-top: 2.77vh;
  width: 28.8vh;
  height: 30.64vh;
}

.firstscreen__content_rihgt_text_up {
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 130%;
  text-transform: uppercase;
}

.firstscreen__content_rihgt_text_down {
  position: relative;
  margin-top: 7.87vh;
  width: 19.91vh;
  height: 17.96vh;
  font-weight: 400;
  font-size: 14.81vh;
  line-height: 130%;
  text-transform: uppercase;
}

.firstscreen__text_description {
  display: none;
}

.firstscreen__content_bottom_content {
  margin: 0 auto;
  margin-top: 5.55vh;
  width: 148.15vh;
  display: flex;
  justify-content: space-between;
}

.firstscreen__content_bottom_content_left {
  display: flex;
}

.firstscreen__content_bottom_content_left_scrolldown {
  margin-left: 11.11vh;
  font-weight: 500;
  font-size: 1.296vh;
  line-height: 1.57vh;
  letter-spacing: 0.05em;
  transform: rotate(-90deg);
  height: 33.8vh;
}

.firstscreen__content_bottom_content_left_scrolldown::after {
  content: "";
  margin-top: -3vh;
  margin-left: 0.5vh;
  display: block;
  background: no-repeat center url("./img/scroll_down_line.svg");
  background-size: contain;
  height: 9.259vh;
  width: 1vh;
  transform: rotate(90deg);
}

.firstscreen__content_bottom_content_right {
  margin-right: -35vh;
  width: 150vh;
  height: 33.889vh;
  background: no-repeat center url("./img/main_img_1600.webp");
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .firstscreen {
    height: auto;
    margin-top: 7.81vw;
  }

  .firstscreen__content {
    margin: 0 auto;
    padding-top: 2.93vw;
    width: 94.14vw;
    height: 37.79vw;
  }

  .firstscreen__content_left_text {
    width: 62.6vw;
    font-size: 8.79vw;
  }

  .firstscreen__content_rihgt_text {
    margin-top: 1.95vw;
    width: 21.58vw;
    height: 28.32vw;
  }

  .firstscreen__content_rihgt_text_up {
    font-size: 1.37vw;
  }

  .firstscreen__content_rihgt_text_down {
    margin-top: 3.61vw;
    margin-left: -0.98vw;
    width: 11.82vw;
    height: 10.64vw;
    font-size: 8.79vw;
  }

  .firstscreen__content_bottom_content {
    margin: 0 auto;
    margin-top: 7.81vw;
    width: 94.14vw;
  }

  .firstscreen__content_bottom_content_left,
  .firstscreen__content_bottom_content_left_scrolldown,
  .firstscreen__content_bottom_content_left_scrolldown::after {
    display: none;
  }

  .firstscreen__content_bottom_content_right {
    width: 94.14vw;
    height: 58.59vw;
    background: no-repeat center url("./img/main_img_1024.webp");
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .firstscreen__content {
    margin: 0 auto;
    padding-top: 6vw;
    width: 94.79vw;
    height: auto;
  }

  .firstscreen__content_left_text {
    width: 64.97vw;
    height: 37.11vw;
    font-size: 9.11vw;
    line-height: 11.07vw;
  }

  .firstscreen__content_rihgt_text {
    width: auto;
    height: auto;
  }

  .firstscreen__content_rihgt_text_up {
    display: none;
  }

  .firstscreen__content_rihgt_text_down {
    margin-top: 16.28vw;
    margin-left: 0;
    width: 12.24vw;
    height: 11.07vw;
    font-size: 9.11vw;
    align-self: flex-end;
  }

  .firstscreen__content_bottom_content {
    margin: 0 auto;
    width: 94.79vw;
    margin-top: 7.42vw;
    display: flex;
    flex-direction: column;
  }

  .firstscreen__text_description {
    display: block;
    width: 44.66vw;
    font-weight: 500;
    font-size: 1.82vw;
    line-height: 130%;
    text-transform: uppercase;
  }

  .firstscreen__content_bottom_content_right {
    margin-top: 3.91vw;
    width: 94.79vw;
    height: 59.64vw;
    background: no-repeat center url("./img/main_img_768.webp");
    background-size: cover;
  }
}

@media screen and (max-width: 375px) {
  .firstscreen__content {
    margin: 0 auto;
    margin-top: 17vw;
    width: 89.33vw;
    height: auto;
  }

  .firstscreen__content_left_text {
    width: 76vw;
    height: 41.07vw;
    font-size: 10.67vw;
  }

  .firstscreen__content_left_text_hard {
    padding-right: 5.33vw;
  }

  .firstscreen__content_rihgt_text_down {
    margin: 8.8vw 2.67vw 0 0;
    width: 12.8vw;
    height: 14.4vw;
    font-size: 10.67vw;
  }

  .firstscreen__content_bottom_content {
    margin: 0 auto;
    width: 89.33vw;
    margin-top: 10.67vw;
  }

  .firstscreen__text_description {
    width: 89.33vw;
    font-size: 3.73vw;
  }

  .firstscreen__content_bottom_content_right {
    margin-top: 5.33vw;
    width: 89.33vw;
    height: 98.67vw;
    background: no-repeat center url("./img/main_img_375.webp");
    background-size: cover;
  }
}
