.firstscreen {
  height: 100vh;
}

.firstscreen__header {
  width: 148.15vh;
  height: 7.6vh;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstscreen__logotype {
  width: 13.98vh;
  height: 2.77vh;
  font-weight: 700;
  font-size: 2.31vh;
  line-height: 2.77vh;
  letter-spacing: 0.05em;
}

.firstscreen__menu {
  width: 60.46vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstscreen__nav {
  width: 30.64vh;
}

.firstscreen__nav_team {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 1.76vh;
}

.firstscreen__nav_team > a {
  display: block;
  cursor: pointer;
}

.firstscreen__button {
  width: 22.5vh;
  height: 4.166vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.48vh;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: #000000;
}

.firstscreen__content {
  margin: 0 auto;
  margin-top: 2.77vh;
  height: 50.18vh;
  width: 148.15vh;
  display: flex;
}

.firstscreen__content_left_text {
  width: 105.55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  font-weight: 400;
  font-size: 14.81vh;
  line-height: 17.96vh;
  text-transform: uppercase;
}

.firstscreen__content_left_text_hard {
  position: relative;
}

.firstscreen__content_vector_complex {
  margin-top: -1.85vh;
  margin-left: 29.63vh;
  position: absolute;
  width: 80.926vh;
  height: 1.85vh;
  background: no-repeat center url("./complex.svg");
  background-size: contain;
}

.firstscreen__content_rihgt_text {
  margin-top: 2.77vh;
  margin-left: 15.8vh;
  width: 25.83vh;
  height: 30.64vh;
}

.firstscreen__content_rihgt_text_up {
  font-weight: 500;
  font-size: 1.296vh;
  line-height: 130%;
  text-transform: uppercase;
}

.firstscreen__content_rihgt_text_down {
  position: relative;
  margin-top: 6.11vh;
  margin-left: -1.39vh;
  width: 19.91vh;
  height: 17.96vh;
  font-weight: 400;
  font-size: 14.81vh;
  line-height: 17.96vh;
  text-transform: uppercase;
}

.firstscreen__content_vector_not {
  position: absolute;
  margin-top: -1.85vh;
  margin-left: -2.77vh;
  width: 23.7vh;
  height: 1.85vh;
  background: no-repeat center url(./not.svg);
  background-size: contain;
}

.firstscreen__content_bottom_content {
  margin: 0 auto;
  margin-top: 5.55vh;
  width: 148.15vh;
  display: flex;
  justify-content: space-between;
}

.firstscreen__content_bottom_content_left {
  display: flex;
}

.firstscreen__content_bottom_content_left_scrolldown {
  margin-left: 11.11vh;
  font-weight: 500;
  font-size: 1.296vh;
  line-height: 1.57vh;
  letter-spacing: 0.05em;
  transform: rotate(-90deg);
  height: 33.8vh;
}

.firstscreen__content_bottom_content_left_scrolldown::after {
  content: "";
  margin-top: -3vh;
  margin-left: 0.5vh;
  display: block;
  background: no-repeat url("./down_line.svg");
  background-size: contain;
  height: 9.259vh;
  width: 1vh;
  transform: rotate(90deg);
}

.firstscreen__content_bottom_content_right {
  margin-right: -30vh;
  width: 150vh;
  height: 33.8vh;
  background: url(./first_screen_main_img_1600.png) no-repeat;
}
