.about__us_main {
  margin: 0 auto;
  padding-top: 15.74vh;
  display: flex;
  justify-content: space-between;
  height: 60.833vh;
  width: 148.15vh;
}

.animation__text_block {
  display: block;
  min-width: 100.648vh;
  backface-visibility: hidden;
}

.animation__text_first_part,
.animation__text_second_part {
  box-sizing: border-box;
  width: 78.055vh;
  text-transform: uppercase;
  font-size: 6.02vh;
  font-weight: 700;
  line-height: 7.2833333333333vh;
  transition: 0.6s ease-in-out;
  white-space: nowrap;
  backface-visibility: hidden;
}

.animation__text_first_part_white {
  color: #fff;
}

.animation__text_second_part {
  /* width: 92.5vh; */
  color: #fff;
}

.animation__text_second_part_black {
  color: #000;
}

.animation__black_lines {
  margin-left: -0.93vh;
  margin-top: -21.85vh;
  z-index: -10;
}

.animation__1th_black_line,
.animation__2th_black_line,
.animation__3th_black_line {
  height: 6.95vh;
  background-color: #000;
  border: solid 0.01vh #fff;
  transition: 0.6s ease-in-out;
}

.animation__1th_black_line {
  width: 94.07vh;
}

.animation__1th_black_line_go_upp {
  margin-top: -43.8vh;
  width: 39.35vh;
}

.animation__2th_black_line {
  width: 72.41vh;
}

.animation__2th_black_line_go_upp {
  width: 54.26vh;
}

.animation__3th_black_line {
  width: 83.7vh;
}

.animation__3th_black_line_go_upp {
  width: 79.85vh;
}

.right__part {
  display: flex;
  flex-direction: column;
}

.conversation__image {
  margin-right: 11vh;
  display: block;
  width: 37.037vh;
  height: 37.037vh;
  background: no-repeat url("./img/people.webp");
  background-size: cover;
}

.decoration_marks {
  margin-top: -12vh;
  transform: rotate(-180deg);
  font-size: 18.52vh;
  font-weight: 300;
}

.text_paragraph {
  margin-left: 6vh;
  width: 31.4vh;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
}

.second_screen__yellow_mark {
  height: 1.48vh;
  width: 7.87vh;
  background: no-repeat url("./img/yellow_line.svg");
  background-position: center;
  background-size: contain;
  z-index: -99;
}

@media screen and (max-width: 1024px) {
  .about__us_main {
    margin: 0 auto;
    padding-top: 11.71875vw;
    height: 47.66vw;
    width: 94.14vw;
    justify-content: space-between;
  }

  .animation__text_block {
    min-width: 61.5234375vw;
  }

  .animation__text_first_part,
  .animation__text_second_part {
    width: 61.5234375vw;
    font-size: 3.9vw;
    line-height: 130%;
  }

  .animation__black_lines {
    margin-left: -0.48828125vw;
    margin-top: -15.1vw;
  }

  .animation__1th_black_line,
  .animation__2th_black_line,
  .animation__3th_black_line {
    height: 4.7vw;
    background-color: #000;
    border: solid 0.15vw #fff;
    transition: 0.6s ease-in-out;
  }

  .animation__1th_black_line {
    width: 60.84vw;
  }

  .animation__1th_black_line_go_upp {
    margin-top: -30.3vw;
    width: 25.2vw;
  }

  .animation__2th_black_line {
    width: 46.78vw;
  }

  .animation__2th_black_line_go_upp {
    width: 34.86vw;
  }

  .animation__3th_black_line {
    width: 54.3vw;
  }

  .animation__3th_black_line_go_upp {
    width: 51.46vw;
  }

  .right__part {
    margin-left: 0;
    width: 29.3vw;
  }

  .conversation__image {
    margin-right: 0;
    width: 29.3vw;
    height: 29.3vw;
    background: no-repeat url("./img/people_to_1024.webp");
    background-size: cover;
  }

  .decoration_marks {
    margin-top: -7.52vw;
    transform: rotate(-180deg);
    font-size: 14.65vw;
  }

  .text_paragraph {
    margin-left: 0;
    width: 29.3vw;
    font-size: 1.37vw;
  }

  .second_screen__yellow_mark {
    width: 29.3vw;
    height: 1.56vw;
    background: no-repeat url("./img/yellow_line.svg");
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .about__us_main {
    margin: 0 auto;
    padding-top: 13.02vw;
    height: auto;
    max-width: 94.79vw;
    min-width: 94.79vw;
    flex-direction: column;
  }

  .animation__text_block {
    display: block;
    min-width: 94.79vw;
    height: 37.5vw;
  }

  .animation__text_first_part,
  .animation__text_second_part {
    width: 94.79vw;
    font-size: 5.21vw;
  }

  .animation__black_lines {
    margin-left: -1.3vw;
    margin-top: -20.1vw;
  }

  .animation__1th_black_line,
  .animation__2th_black_line,
  .animation__3th_black_line {
    border: solid 0.4vw #fff;
    height: 5.86vw;
    background-color: #000;
    transition: 0.6s ease-in-out;
  }

  .animation__1th_black_line {
    width: 81.9vw;
  }

  .animation__1th_black_line_go_upp {
    margin-top: -40.5vw;
    width: 34.64vw;
  }

  .animation__2th_black_line {
    width: 62.89vw;
  }

  .animation__2th_black_line_go_upp {
    width: 47.53vw;
  }

  .animation__3th_black_line {
    width: 73.05vw;
  }

  .animation__3th_black_line_go_upp {
    width: 69.66vw;
  }

  .right__part {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 8.85vw;
    min-width: 94.79vw;
    max-width: 94.79vw;
  }

  .conversation__image {
    margin-right: 0;
    width: 46.09vw;
    height: 46.09vw;
    background: no-repeat url("./img/people_to_768.webp");
    background-size: cover;
  }

  .decoration_marks {
    margin-bottom: 13vw;
    transform: rotate(-180deg);
    font-size: 23.44vw;
  }

  .text_paragraph {
    margin-left: 0;
    width: 39.06vw;
    font-size: 1.82vw;
  }

  .about_us__text {
    align-self: flex-end;
  }
}

@media screen and (max-width: 375px) {
  .about__us_main {
    padding-top: 18.67vw;
    width: 89.33vw;
    max-width: 89.33vw;
    min-width: 89.33vw;
    flex-direction: column;
  }

  .animation__text_block {
    height: 44.8vw;
  }

  .animation__text_first_part,
  .animation__text_second_part {
    width: 89.33vw;
    font-size: 5.6vw;
  }

  .animation__black_lines {
    margin-top: -22vw;
  }

  .animation__1th_black_line,
  .animation__2th_black_line,
  .animation__3th_black_line {
    height: 7vw;
    border: solid 0.01vw #fff;
  }

  .animation__1th_black_line {
    width: 88vw;
  }

  .animation__1th_black_line_go_upp {
    margin-top: -44vw;
    width: 37.33vw;
  }

  .animation__2th_black_line {
    width: 67.73vw;
  }

  .animation__2th_black_line_go_upp {
    width: 50.93vw;
  }

  .animation__3th_black_line {
    width: 78.4vw;
  }

  .animation__3th_black_line_go_upp {
    width: 74.93vw;
  }

  .right__part {
    max-width: 88vw;
    min-width: 88vw;
    margin-top: 12.8vw;
    flex-direction: column;
    justify-content: space-between;
  }

  .conversation__image {
    width: 89.33vw;
    height: 89.33vw;
    background: no-repeat url("./img/people_to_375.webp");
    background-size: cover;
  }

  .decoration_marks {
    margin: -10vw 0 0 0;
    align-self: flex-end;
    font-size: 27vw;
  }

  .about_us__text {
    margin: 2.67vw 0 0 0;
    width: 89.33vw;
    align-self: flex-end;
  }

  .text_paragraph {
    margin-left: 0;
    width: 89.33vw;
    font-size: 3.73vw;
  }
}
