.about__us_main {
  margin: 0 auto;
  padding-top: 15.74vh;
  display: flex;
  justify-content: space-between;
  height: 60.833vh;
  width: 148.15vh;
}

.animation__text_block {
  display: block;
  width: 100.648vh;
}

.animation__text_first_part,
.animation__text_second_part {
  width: 78.055vh;
  text-transform: uppercase;
  font-size: 6.02vh;
  font-weight: 700;
  line-height: 7.31vh;
  transition: 0.6s ease-in-out;
}

.animation__text_first_part_white {
  color: #fff;
}

.animation__text_second_part {
  width: 92.5vh;
  color: #fff;
}

.animation__text_second_part_black {
  color: #000;
}

.animation__black_lines {
  margin-left: -0.926vh;
  margin-top: -21.85vh;
}

.animation__1th_black_line,
.animation__2th_black_line,
.animation__3th_black_line {
  margin-bottom: 0.463vh;
  height: 6.944vh;
  background-color: #000;
  transition: 0.6s ease-in-out;
}

.animation__1th_black_line {
  width: 94.074vh;
}

.animation__1th_black_line_go_upp {
  margin-top: -43.98vh;
  width: 39.3vh;
}

.animation__2th_black_line {
  width: 72.407vh;
}

.animation__2th_black_line_go_upp {
  width: 54.259vh;
}

.animation__3th_black_line {
  width: 83.703vh;
}

.animation__3th_black_line_go_upp {
  width: 79.85vh;
}

.right__part {
  display: flex;
  flex-direction: column;
}

.conversation__image {
  margin-right: 11vh;
  display: block;
  width: 37.037vh;
  height: 37.037vh;
  background: no-repeat url("./img/people.webp");
  background-size: cover;
}

.decoration_marks {
  margin-top: -12vh;
  transform: rotate(-180deg);
  font-size: 18.52vh;
  font-weight: 300;
}

.text_paragraph {
  margin-left: 6vh;
  width: 31.4vh;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
}

.second_screen__yellow_mark {
  height: 1.48vh;
  width: 7.87vh;
  background: no-repeat url("./img/yellow_line.svg");
  background-position: center;
  background-size: contain;
  z-index: -99;
}

@media screen and (max-width: 1024px) {
  .about__us_main {
    padding-top: 120px;
    height: 488px;
    width: 964px;
    justify-content: space-between;
  }

  .animation__text_first_part,
  .animation__text_second_part {
    width: 615px;
    font-size: 40px;
    line-height: 48px;
  }

  .animation__black_lines {
    margin-left: -5px;
    margin-top: -142px;
  }

  .animation__1th_black_line,
  .animation__2th_black_line,
  .animation__3th_black_line {
    margin-bottom: 3px;
    height: 45px;
    background-color: #000;
    transition: 0.6s ease-in-out;
  }

  .animation__1th_black_line {
    width: 623px;
  }

  .animation__1th_black_line_go_upp {
    margin-top: -287px;
    width: 258px;
  }

  .animation__2th_black_line {
    width: 479px;
  }

  .animation__2th_black_line_go_upp {
    width: 357px;
  }

  .animation__3th_black_line {
    width: 556px;
  }

  .animation__3th_black_line_go_upp {
    width: 527px;
  }

  .right__part {
    margin-left: 0;
    width: 300px;
  }

  .conversation__image {
    margin-right: 0;
    width: 300px;
    height: 300px;
    background: no-repeat url("./img/people_to_1024.webp");
    background-size: cover;
  }

  .decoration_marks {
    margin-top: -77px;
    transform: rotate(-180deg);
    font-size: 150px;
  }

  .text_paragraph {
    margin-left: 0;
    width: 300px;
    font-size: 14px;
    line-height: 130%;
  }

  .second_screen__yellow_mark {
    width: 300px;
    height: 16px;
    background: no-repeat url("./img/yellow_line.svg");
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .about__us_main {
    padding-top: 100px;
    height: auto;
    width: 728px;
    flex-direction: column;
  }

  .animation__text_block {
    height: 288px;
  }

  .right__part {
    flex-direction: row-reverse;
    margin-top: 68px;
    min-width: 728px;
    max-width: 728px;
  }

  .conversation__image {
    margin-right: 0;
    width: 354px;
    height: 354px;
    background: no-repeat url("./img/people_to_768.webp");
    background-size: cover;
  }

  .decoration_marks {
    margin: 90px 24px 0 0;
    align-self: flex-start;
  }

  .about_us__text {
    align-self: flex-end;
  }
}

@media screen and (max-width: 375px) {
  .about__us_main {
    padding-top: 70px;
    width: 335px;
    flex-direction: column;
  }

  .animation__text_block {
    height: 168px;
  }

  .animation__text_first_part,
  .animation__text_second_part {
    width: 335px;
    font-size: 21px;
    line-height: 25px;
  }

  .animation__black_lines {
    margin-top: -77px;
  }

  .animation__1th_black_line,
  .animation__2th_black_line,
  .animation__3th_black_line {
    height: 25px;
    margin-bottom: 1px;
  }

  .animation__1th_black_line {
    width: 330px;
  }

  .animation__1th_black_line_go_upp {
    margin-top: -152px;
    width: 140px;
  }

  .animation__2th_black_line {
    width: 254px;
  }

  .animation__2th_black_line_go_upp {
    width: 191px;
  }

  .animation__3th_black_line {
    width: 294px;
  }

  .animation__3th_black_line_go_upp {
    width: 281px;
  }

  .right__part {
    max-width: 330px;
    min-width: 330px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-between;
  }

  .conversation__image {
    width: 335px;
    height: 335px;
    background: no-repeat url("./img/people_to_375.webp");
    background-size: cover;
  }

  .decoration_marks {
    margin: -55px 0 0 0;
    align-self: flex-end;
  }

  .about_us__text {
    margin: 10px 0 0 0;
    width: 335px;
    align-self: flex-end;
  }

  .text_paragraph_1,
  .text_paragraph_2,
  .text_paragraph_3 {
    margin-left: 0;
  }

  .second_screen__yellow_mark {
    margin-top: -35px;
    margin-left: 0px;
    width: 286px;
  }
}
