.last__screen {
  width: 1920px;
  height: 1080px;
  border-top: 1px solid black;
}

.wrapper {
    display: flex;
    width: ;
}

.left__content {
  position: relative;
  width: 775px;
  height: 553px;
  top: 109px;
  left: 170px;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  text-transform: uppercase;
  color: #000000;
}

.right__content {
    position: relative;
    width: 198px;
    height: 553px;
    background-color: antiquewhite;
}