.team__block {
  margin: 0 auto;
  padding-top: 15.185vh;
  height: 61.944vh;
  width: 148.15vh;
}

.team__block_title {
  font-size: 8.33vh;
  font-weight: 400;
  line-height: 10.09vh;
  text-transform: uppercase;
}

.team__block_main {
  margin-top: 5.55vh;
  display: flex;
  justify-content: space-between;
}

.team__block_description {
  align-self: flex-end;
  width: 30.277vh;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
}

.team__yellow_line {
  width: 16.203vh;
  height: 1.66vh;
  background: no-repeat url("./img/yellow_line.svg");
  background-position: center;
  background-size: contain;
  z-index: -99;
}

.persones {
  display: flex;
  gap: 1.85vh;
}

.big_persona {
  width: 34.907vh;
  height: 46.296vh;
  background-size: cover;
  transition: 0.6s ease-out;
}

.big_persona:hover {
  background-color: rgba(0, 0, 0, 0.39);
  background-blend-mode: multiply;
}

.persones_description {
  margin: 0 auto;
  height: 11.11vh;
  width: 29.35vh;
  padding-top: 36.11vh;
  color: #fff;
  transition: 0.6s ease-out;
}

.persones_description:hover {
  margin: 0 auto;
  padding-top: 19vh;
  height: 46.296vh;
}

.persones__text {
  display: none;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 1.94vh;
}

.persones_description:hover > .persones__text {
  display: block;
  margin-top: 2.77vh;
  color: #fff;
}

.persones__title {
  font-size: 1.66vh;
  font-weight: 500;
  line-height: 2.037vh;
}

.persones__hr {
  margin: 0.6vh 0 0.925vh 0;
  border-top: 0.23vh solid #fff;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.persones__name {
  font-size: 3.704vh;
  font-weight: 700;
  line-height: 130%;
}

.persones__read_more {
  margin-top: 3.703vh;
  border: none;
  font-size: 1.48vh;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
  background: none;
}

.persona_01,
.persona_02,
.persona_03,
.persona_04,
.persona_05,
.persona_06,
.persona_07 {
  width: 9.72vh;
  height: 46.296vh;
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.6s ease-out;
}
.persona_01:hover,
.persona_02:hover,
.persona_03:hover,
.persona_04:hover,
.persona_05:hover,
.persona_06:hover,
.persona_07:hover {
  filter: none;
  transform: scale(1.05) translateY(1.11vh);
  width: 9.72vh;
  transition: 0.6s ease-out;
}

@media screen and (max-width: 1024px) {
  .team__block {
    margin: 0 auto;
    padding-top: 11.72vw;
    height: 85.84vw;
    width: 94.14vw;
  }

  .team__block_title {
    font-size: 6.84vw;
    line-height: 130%;
  }

  .team__block_main {
    margin-top: 4.88vw;
    flex-direction: column;
  }

  .team__block_description {
    width: 46.09vw;
    font-size: 1.37vw;
    align-self: flex-start;
  }

  .team__yellow_line {
    width: 15.43vw;
    height: 1.56vw;
  }
}

@media screen and (max-width: 768px) {
  .team__block {
    margin: 0 auto;
    padding-top: 13.02vw;
    height: auto;
    width: 94.79vw;
  }

  .team__block_title {
    font-size: 7.16vw;
  }

  .team__block_main {
    margin-top: 5.21vw;
  }

  .team__block_description {
    padding-top: 0;
    padding-left: 0;
    width: 46.09vw;
    font-size: 1.82vw;
  }
}

@media screen and (max-width: 375px) {
  .team__block {
    margin: 0 auto;
    padding-top: 18.67vw;
    width: 89.33vw;
  }

  .team__block_title {
    font-size: 9.33vw;
  }

  .team__block_main {
    margin-top: 10.67vw;
  }

  .team__block_description {
    padding-top: 0;
    padding-left: 0px;
    width: 89.33vw;
    font-size: 3.73vw;
  }
}
