.team__popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: 2;
}

.team__sliders {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: 148.148vh;
  flex-wrap: nowrap;
}

.popUp__closer {
  position: absolute;
  margin-top: 2.314vh;
  width: 1.481vh;
  height: 1.481vh;
  margin-left: 145.834vh;
  border: none;
  background: no-repeat url("./img/closer.svg");
  background-size: contain;
}

.team__slide {
  margin: 0 auto;
  display: flex;
  margin-top: 5.555vh;
  width: 148.148vh;
  gap: 5vh;
}

.popup__img {
  min-width: 62.463vh;
  height: 81.889vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.popup_description {
  margin: 0 auto;
  margin-top: 70vh;
  width: 54vh;
  color: #fff;
}

.popup__title {
  font-weight: 500;
  font-size: 1.667vh;
  line-height: 130%;
  text-transform: uppercase;
}

.popup__hr {
  margin: 0.6vh 0 0.925vh 0;
  border-top: 0.23vh solid #fff;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.popup__name {
  font-weight: 700;
  font-size: 3.704vh;
  line-height: 130%;
  text-transform: uppercase;
}

.popup__info_texts {
  position: relative;
  margin-top: 5.555vh;
  width: 77.685vh;
}

.popup__numbers_checked {
  border: solid 0.01vh #fff;
  background-color: #000;
  color: #fff;
  font-size: 1.852vh;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  transition: 0.6s ease-in-out;
}

.popup__numbers_block_checked {
  position: absolute;
  opacity: 100%;
  min-width: 79vh;
  max-width: 79vh;
  height: 73.5vh;
  transition: 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup_numbers__flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 79vh;
  max-width: 79vh;
}

.popup__numbers_block {
  margin-bottom: 9.722vh;
  min-width: 37vh;
  max-width: 37vh;
}

.popup__numbers_big_element {
  font-size: 6.018vh;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
}

.popup__numbers_small_element {
  margin-top: 1vh;
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 130%;
  text-transform: uppercase;
}

.popup__numbers_unchecked {
  border: solid 0.01vh #fff;
  background: none;
  color: #000;
  font-size: 1.852vh;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  transition: 0.6s ease-in-out;
}

.popup__numbers_block_unchecked {
  position: absolute;
  opacity: 0%;
  display: flex;
  min-width: 79vh;
  max-width: 79vh;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.6s ease-in-out;
  transform: translate(100%);
  height: 73.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__biografy_unchecked {
  border: solid 0.01vh #fff;
  background: none;
  color: #000;
  font-size: 1.852vh;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  transition: 0.6s ease-in-out;
}

.popup__biografy_checked {
  border: solid 0.01vh #fff;
  font-size: 1.852vh;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  transition: 0.6s ease-in-out;
}

.popup__biografy_block_unchecked {
  position: absolute;
  width: 79vh;
  opacity: 0%;
  transform: translate(100%);
  transition: 0.6s ease-in-out;
  height: 73.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__biografy_block_checked {
  position: absolute;
  width: 79vh;
  opacity: 100%;
  transition: 0.6s ease-in-out;
  height: 73.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__biografy_title {
  font-weight: 700;
  font-size: 1.852vh;
  line-height: 130%;
  text-transform: uppercase;
}

.popup__biografy_text {
  margin-top: 1.38vh;
  font-weight: 500;
  font-size: 1.481vh;
  line-height: 130%;
}

.slider__navigation {
  margin-left: 35%;
  color: #000;
  display: flex;
  gap: 5.555vh;
}

.slider__navigation_goback_arrow,
.slider__navigation_goforward_arrow {
  border: none;
  background: no-repeat url("./img/arrow.svg");
  background-position: center;
  background-size: contain;
  width: 3.703vh;
}

.slider__navigation_goforward_arrow {
  transform: rotate(180deg);
}

.slider__navigation_goback_arrow {
  transform: rotate(360deg);
}

@media screen and (max-width: 1024px) {
  .team__popup {
    position: relative;
    width: 94.14vw;
    height: 62.5vw;
  }

  .team__sliders {
    margin: 0 auto;
    flex-wrap: wrap;
    min-width: 94.14vw;
    max-width: 94.14vw;
  }

  .popUp__closer {
    display: none;
  }

  .team__slide {
    position: relative;
    margin: 0 auto;
    display: flex;
    margin-top: 4.88vw;
    width: 94.14vw;
    gap: 1.95vw;
  }

  .popup__img {
    min-width: 46.09vw;
    height: 62.5vw;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .popup_description {
    margin: 0 auto;
    margin-top: 51.76vw;
    width: 40.23vw;
    color: #fff;
  }

  .popup__title {
    font-size: 1.95vw;
  }

  .popup__hr {
    margin: 0.98vw 0;
    border-top: 0.2vw solid #fff;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }

  .popup__name {
    font-size: 2.93vw;
  }

  .popup__info_texts {
    position: relative;
    margin-top: 3.52vw;
    width: 46.09vw;
  }

  .popup__numbers_checked {
    font-size: 1.76vw;
  }

  .popup__numbers_block_checked {
    opacity: 100%;
    min-width: 46.09vw;
    max-width: 46.09vw;
    height: 55.5vw;
  }

  .popup_numbers__flex_box {
    min-width: 46.09vw;
    max-width: 46.09vw;
  }

  .popup__numbers_block {
    margin-bottom: 5.66vw;
    min-width: 19.53vw;
    max-width: 19.53vw;
  }

  .popup__numbers_big_element {
    font-size: 3.42vw;
    text-transform: none;
  }

  .popup__numbers_small_element {
    font-size: 1.37vw;
  }

  .popup__numbers_unchecked {
    border: none;
    background: none;
    color: #000;
    font-size: 1.76vw;
  }

  .popup__numbers_block_unchecked {
    opacity: 0%;
    min-width: 46.09vw;
    max-width: 46.09vw;
    transform: translate(100%);
    height: 55.5vw;
  }

  .popup__biografy_unchecked,
  .popup__biografy_checked {
    font-size: 1.76vw;
  }

  .popup__biografy_block_unchecked {
    width: 46.09vw;
    opacity: 0%;
    transform: translate(100%);
    height: 55.5vw;
  }

  .popup__biografy_block_checked {
    width: 46.09vw;
    opacity: 100%;
    height: 55.5vw;
  }

  .popup__biografy_title {
    font-size: 1.56vw;
  }

  .popup__biografy_text {
    margin-top: 1.46vw;
    font-size: 1.37vw;
  }

  .slider__navigation {
    margin-left: 30%;
    gap: 5.86vw;
  }

  .slider__navigation_goback_arrow,
  .slider__navigation_goforward_arrow {
    width: 3.91vw;
  }
}

@media screen and (max-width: 768px) {
  .team__popup {
    width: 94.79vw;
    min-height: 74.5vw;
  }

  .team__sliders {
    min-width: 94.79vw;
    max-width: 94.79vw;
  }

  .team__slide {
    margin-top: 5.21vw;
    width: 94.79vw;
    gap: 2.6vw;
  }

  .popup__img {
    min-width: 35vw;
    max-width: 35vw;
    height: 67vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .popup_description {
    margin-top: 52.5vw;
    width: 30vw;
  }

  .popup__title {
    font-size: 2.6vw;
  }

  .popup__hr {
    margin: 1.3vw 0;
    border-top: 0.26vw solid #fff;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }

  .popup__name {
    font-size: 3.91vw;
  }

  .popup__info_texts {
    margin-top: 1.5vw;
    width: 46.09vw;
  }

  .popup__numbers_checked {
    font-size: 2.34vw;
  }

  .popup__numbers_block_checked {
    opacity: 100%;
    min-width: 46.09vw;
    max-width: 46.09vw;
    height: 62vw;
  }

  .popup_numbers__flex_box {
    min-width: 46.09vw;
    max-width: 46.09vw;
  }

  .popup__numbers_block {
    margin-bottom: 7.42vw;
    min-width: 22.14vw;
    max-width: 22.14vw;
  }

  .popup__numbers_big_element {
    font-size: 3.26vw;
    text-transform: none;
  }

  .popup__numbers_small_element {
    font-size: 1.69vw;
  }

  .popup__numbers_unchecked {
    border: none;
    background: none;
    color: #000;
    font-size: 2.34vw;
  }

  .popup__numbers_block_unchecked {
    opacity: 0%;
    min-width: 50vw;
    max-width: 50vw;
    transform: translate(100%);
    height: 62vw;
  }

  .popup__biografy_unchecked,
  .popup__biografy_checked {
    font-size: 2.34vw;
  }

  .popup__biografy_block_unchecked {
    width: 55vw;
    height: 50vw;
    opacity: 0%;
    transform: translate(100%);
    overflow: hidden;
    height: 62vw;
  }

  .popup__biografy_block_checked {
    width: 55vw;
    opacity: 100%;
    height: 50vw;
    overflow: hidden;
    height: 62vw;
  }

  .popup__biografy_title {
    font-size: 1.69vw;
  }

  .popup__biografy_text {
    margin-top: 1.85vw;
    font-size: 1.69vw;
  }

  .slider__navigation {
    margin-left: 25%;
    font-size: 2.08vw;
    gap: 6.51vw;
  }

  .slider__navigation_goback_arrow,
  .slider__navigation_goforward_arrow {
    width: 5.21vw;
  }
}

@media screen and (max-width: 375px) {
  .team__popup {
    width: 89.33vw;
    height: 235vw;
  }

  .team__sliders {
    min-width: 89.33vw;
    max-width: 89.33vw;
  }

  .team__slide {
    margin-top: 8vw;
    width: 89.33vw;
    gap: 5.33vw;
    flex-direction: column;
  }

  .popup__img {
    min-width: 89.33vw;
    max-width: 89.33vw;
    height: 48vw;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 16vw top -13vw;
    background-color: #000;
  }

  .popup_description {
    margin-top: 27.2vw;
    width: 81.33vw;
  }

  .popup__title {
    font-size: 4vw;
  }

  .popup__hr {
    margin: 2.67vw 0;
    border-top: 0.53vw solid #fff;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }

  .popup__name {
    font-size: 6.67vw;
  }

  .popup__info {
    min-height: 133.33vw;
  }

  .popup__info_texts {
    margin-top: 5.33vw;
    width: 89.33vw;
  }

  .popup__numbers_checked {
    font-size: 4.27vw;
  }

  .popup__numbers_block_checked {
    opacity: 100%;
    min-width: 89.33vw;
    max-width: 89.33vw;
  }
  .popup_numbers__flex_box {
    min-width: 89.33vw;
    max-width: 89.33vw;
  }

  .popup__numbers_block {
    margin-bottom: 15.2vw;
    min-width: 40vw;
    max-width: 40vw;
  }

  .popup__numbers_big_element {
    font-size: 5.87vw;
  }

  .popup__numbers_small_element {
    font-size: 3.2vw;
  }

  .popup__numbers_unchecked {
    border: none;
    background: none;
    color: #000;
    font-size: 4.27vw;
  }

  .popup__numbers_block_unchecked {
    opacity: 0%;
    min-width: 89.33vw;
    max-width: 89.33vw;
    transform: translate(100%);
  }

  .popup__biografy_unchecked,
  .popup__biografy_checked {
    font-size: 4.27vw;
  }

  .popup__biografy_block {
    margin-bottom: 5vw;
  }

  .popup__biografy_block_unchecked {
    width: 89.33vw;
    opacity: 0%;
    transform: translate(100%);
  }

  .popup__biografy_block_checked {
    width: 89.33vw;
    height: auto;
    opacity: 100%;
  }

  .popup__biografy_title,
  .slider__navigation {
    font-size: 3.73vw;
  }

  .popup__biografy_text {
    margin-top: 4vw;
    font-size: 3.47vw;
  }

  .slider__navigation_goback_arrow,
  .slider__navigation_goforward_arrow {
    width: 10.67vw;
  }

  .slider__navigation {
    margin: 0 auto;
    /* margin-top: 35vw; */
    width: 48.27vw;
    gap: 13.33vw;
    justify-content: space-between;
  }
}
