.team__block {
  margin: 0 auto;
  padding-top: 15.185vh;
  height: 61.944vh;
  width: 148.15vh;
}

.team__block_title {
  font-size: 8.33vh;
  font-weight: 400;
  line-height: 10.09vh;
}

.team__block_main {
  margin-top: 5.55vh;
  display: flex;
  justify-content: space-between;
}

.team__block_description {
  position: relative;
  align-self: flex-end;
  width: 33.055vh;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
}

.team__first_yellow_line {
  margin-top: -15.3vh;
  margin-left: 3.5vh;
  position: absolute;
  width: 26.018vh;
  height: 1.48vh;
  background: no-repeat url("./img/first_yellow_line.svg");
  background-size: contain;
  z-index: -99;
}
.team__second_yellow_line {
  position: absolute;
  margin-top: -13.1vh;
  width: 20.185vh;
  height: 1.48vh;
  background: no-repeat url("./img/second_yellow_line.svg");
  background-size: contain;
  z-index: -99;
}

.persones {
  display: flex;
  gap: 1.85vh;
}

.big_persona {
  width: 34.907vh;
  height: 46.296vh;
  background-size: cover;
  transition: 0.6s ease-out;
}

.big_persona:hover {
  background-color: rgba(0, 0, 0, 0.39);
  background-blend-mode: multiply;
  filter: grayscale(100%);
}

.persones_description {
  margin: 0 auto;
  height: 11.11vh;
  width: 29.35vh;
  padding-top: 36.11vh;
  color: #fff;
  transition: 0.6s ease-out;
}

.persones_description:hover {
  margin: 0 auto;
  padding-top: 2.77vh;
  height: 46.296vh;
}

.persones__text {
  display: none;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 1.94vh;
}

.persones_description:hover > .persones__text {
  display: block;
  margin-top: 2.77vh;
  color: #fff;
}

.persones__title {
  font-size: 1.66vh;
  font-weight: 500;
  line-height: 2.037vh;
}

.persones__hr {
  margin: 0.6vh 0 0.925vh 0;
  border-top: 0.23vh solid #fff;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.persones__name {
  font-size: 3.704vh;
  font-weight: 700;
  line-height: 4.444vh;
}
.persona_01,
.persona_02,
.persona_03,
.persona_04,
.persona_05,
.persona_06,
.persona_07 {
  width: 9.72vh;
  height: 46.296vh;
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.6s ease-out;
}
.persona_01:hover,
.persona_02:hover,
.persona_03:hover,
.persona_04:hover,
.persona_05:hover,
.persona_06:hover,
.persona_07:hover {
  filter: none;
  transform: scale(1.05) translateY(1.11vh);
  width: 9.72vh;
  transition: 0.6s ease-out;
}

@media screen and (max-width: 1024px) {
  .team__block {
    margin: 0 auto;
    padding-top: 138px;
    height: 1058px;
    width: 964px;
  }

  .team__block_title {
    font-size: 70px;
    line-height: 85px;
  }

  .team__block_main {
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  .persones {
    width: auto;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: visible;
  }

  .persona_01,
  .persona_02,
  .persona_03,
  .persona_04,
  .persona_05,
  .persona_06,
  .persona_07 {
    display: block;
    min-width: 226px;
    max-width: 226px;
    height: 640px;
    transition: 0.6s ease-out;
  }

  .persona_01:hover,
  .persona_02:hover,
  .persona_03:hover,
  .persona_04:hover,
  .persona_05:hover,
  .persona_06:hover,
  .persona_07:hover {
    filter: none;
    transform: none;
    /* min-width: 226px;
    max-width: 226px;
    transition: 0.6s ease-out; */
  }

  .big_persona {
    min-width: 472px;
    max-width: 472px;
    height: 640px;
  }

  .persones_description {
    margin: 0 auto;
    height: 115px;
    width: 412px;
    padding-top: 526px;
  }

  .persones_description:hover {
    margin: 0 auto;
    padding-top: 36px;
    height: 568px;
  }

  .persones__text {
    display: none;
    font-size: 14px;
    line-height: 130%;
  }

  .persones_description:hover > .persones__text {
    margin-top: 36px;
  }

  .persones__title {
    font-size: 16px;
    line-height: 20px;
  }

  .persones__hr {
    margin: 13px 0 10px 0;
    border-top: 2px solid #fff;
  }

  .persones__name {
    font-size: 30px;
    line-height: 36px;
  }

  .team__block_description {
    padding-top: 107px;
    padding-left: 492px;
    width: 430px;
    font-size: 14px;
    align-self: flex-start;
  }

  /* .br__tablet {
    display: none;
  } */

  .team__first_yellow_line {
    margin-top: -126px;
    margin-left: 29px;
    width: 214px;
    height: 12px;
  }

  .team__second_yellow_line {
    margin-top: -108px;
    width: 166px;
    height: 12px;
  }
}

@media screen and (max-width: 768px) {
  .team__block {
    margin: 0 auto;
    padding-top: 100px;
    height: auto;
    width: 728px;
  }

  .team__block_title {
    font-size: 55px;
    line-height: 67px;
  }

  .team__block_main {
    margin-top: 40px;
    flex-direction: column-reverse;
  }

  .persona_01,
  .persona_02,
  .persona_03,
  .persona_04,
  .persona_05,
  .persona_06,
  .persona_07 {
    display: block;
    min-width: 167px;
    max-width: 167px;
    height: 480px;
  }

  .persona_01:hover,
  .persona_02:hover,
  .persona_03:hover,
  .persona_04:hover,
  .persona_05:hover,
  .persona_06:hover,
  .persona_07:hover {
    filter: none;
    transform: none;
    /* min-width: 226px;
    max-width: 226px;
    transition: 0.6s ease-out; */
  }

  .big_persona {
    min-width: 354px;
    max-width: 354px;
    height: 480px;
  }

  .persones_description {
    margin: 0 auto;
    height: 115px;
    width: 354px;
    padding-top: 526px;
  }

  /* .persones_description:hover {
    margin: 0 auto;
    padding-top: 36px;
    height: 568px;
  }

  .persones__text {
    display: none;
    font-size: 14px;
    line-height: 130%;
  }

  .persones_description:hover > .persones__text {
    margin-top: 36px;
  } */

  /* .persones__title {
    font-size: 16px;
    line-height: 20px;
  }

  .persones__hr {
    margin: 13px 0 10px 0;
    border-top: 2px solid #fff;
  }

  .persones__name {
    font-size: 30px;
    line-height: 36px;
  } */

  .team__block_description {
    padding-top: 97px;
    padding-left: 374px;
    width: 354px;
  }

  /* .br__tablet {
    display: none;
  } */
  /* 
  .team__first_yellow_line {
    margin-top: -126px;
    margin-left: 29px;
    width: 214px;
    height: 12px;
  }

  .team__second_yellow_line {
    margin-top: -108px;
    width: 166px;
    height: 12px;
  } */
}

@media screen and (max-width: 375px) {
  .team__block {
    margin: 0 auto;
    padding-top: 70px;
    width: 335px;
  }

  .team__block_title {
    font-size: 35px;
    line-height: 42px;
  }

  .team__block_main {
    margin-top: 40px;
    flex-direction: column-reverse;
  }

  .persona_01,
  .persona_02,
  .persona_03,
  .persona_04,
  .persona_05,
  .persona_06,
  .persona_07 {
    display: block;
    min-width: 167px;
    max-width: 167px;
    height: 450px;
  }

  .persona_01:hover,
  .persona_02:hover,
  .persona_03:hover,
  .persona_04:hover,
  .persona_05:hover,
  .persona_06:hover,
  .persona_07:hover {
    filter: none;
    transform: none;
    /* min-width: 226px;
    max-width: 226px;
    transition: 0.6s ease-out; */
  }

  .big_persona {
    min-width: 335px;
    max-width: 335px;
    height: 450px;
  }

  .persones_description {
    margin: 0 auto;
    height: 115px;
    width: 354px;
    padding-top: 526px;
  }

  /* .persones_description:hover {
    margin: 0 auto;
    padding-top: 36px;
    height: 568px;
  }

  .persones__text {
    display: none;
    font-size: 14px;
    line-height: 130%;
  }

  .persones_description:hover > .persones__text {
    margin-top: 36px;
  } */

  /* .persones__title {
    font-size: 16px;
    line-height: 20px;
  }

  .persones__hr {
    margin: 13px 0 10px 0;
    border-top: 2px solid #fff;
  }

  .persones__name {
    font-size: 30px;
    line-height: 36px;
  } */

  .team__block_description {
    padding-top: 77px;
    padding-left: 0px;
    width: 335px;
  }

  /* .br__tablet {
    display: none;
  } */

  .team__first_yellow_line {
    margin-top: -163px;
    margin-left: 29px;
    width: 214px;
    height: 12px;
  }

  .team__second_yellow_line {
    margin-top: -145px;
    width: 166px;
    height: 12px;
  }
}
