.instuction {
  width: 34.9vh;
}

.instruction__title {
  font-weight: 500;
  font-size: 2.31vh;
  line-height: 130%;
}

.instruction__text {
  margin-top: 3.7vh;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
}

.instruction__text p {
  margin-bottom: 2.7vh;
}

.instuction_with_handle_range_error {
  margin-top: 3.38vh;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
  background-color: #ffc906b7;
}

.poride__block {
  padding: 2.7vh;
  box-sizing: border-box;
  width: 34.9vh;
  box-shadow: 0px 1px 6px rgba(185, 185, 185, 0.5);
}

.provide__title {
  margin-bottom: 2.7vh;
  font-weight: 700;
  font-size: 2.31vh;
  line-height: 130%;
  text-transform: uppercase;
}

.provide__line_text {
  cursor: pointer;
  height: 3.79vh;
}

.provide__text {
  display: inline-block;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
  cursor: pointer;
}

.provide__quastion {
  display: inline-block;
  margin: -0.46vh 0 0 0.46vh;
  background: no-repeat url("../img/quastion.svg");
  background-size: contain;
  width: 1.66vh;
  height: 1.66vh;
}

.provide__description {
  display: none;
  position: absolute;
  width: 20vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-weight: 500;
  font-size: 1.29vh;
  line-height: 130%;
  color: #ffffff;
  margin-top: -10vh;
  margin-left: 2vh;
  padding: 2.77vh 3.7vh 2.77vh 3.7vh;
}

@media screen and (max-width: 1024px) {
  /* .instuction_and_provide__container {
    position: relative;
  } */

  .instuction {
    margin-top: 5vw;
    margin-left: 5.86vw;
    width: 36.82vw;
  }

  .instruction__title {
    font-size: 2.44vw;
  }

  .instruction__text {
    margin-top: 3.91vw;
    font-size: 1.37vw;
  }

  .instruction__text p {
    margin-bottom: 2vw;
  }

  .instuction_with_handle_range_error {
    margin-top: 3.91vw;
    font-size: 1.37vw;
    background-color: #ffc906b7;
  }

  .poride__block {
    margin-left: 5.86vw;
    padding: 2.93vw;
    width: 36.82vw;
  }

  .provide__title {
    margin-bottom: 3.71vw;
    font-size: 2.44vw;
  }

  .provide__line_text {
    height: 4vw;
  }

  .provide__text {
    font-size: 1.56vw;
  }

  .provide__quastion {
    margin: -0.46vw 0 0 0.46vw;
    background: no-repeat url("../img/quastion.svg");
    background-size: contain;
    width: 1.76vw;
    height: 1.76vw;
  }

  .provide__description {
    display: none;
    position: absolute;
    width: 24.71vw;
    font-size: 1.56vw;
    margin-top: -12vw;
    margin-left: 3vw;
    padding: 2.93vw 3.9vw 2.93vw 3.9vw;
  }
}

@media screen and (max-width: 768px) {
  .instuction {
    margin-top: 8.02vw;
    margin-left: 5.21vw;
    width: 43.49vw;
  }

  .instruction__title {
    font-size: 2.6vw;
  }

  .instruction__text {
    margin-top: 5.21vw;
    font-size: 1.82vw;
  }

  .instruction__text p {
    margin-bottom: 2.7vw;
  }

  .instuction_with_handle_range_error {
    margin-top: 5.21vw;
    font-size: 1.82vw;
    background-color: #ffc906b7;
  }

  .poride__block {
    margin-left: 5.21vw;
    padding: 3.81vw;
    width: 43.49vw;
  }

  .provide__title {
    margin-bottom: 4.43vw;
    font-size: 2.6vw;
  }

  .provide__line_text {
    height: 4vw;
  }

  .provide__text {
    font-size: 1.82vw;
  }

  .provide__quastion {
    margin: -0.46vw 0 0 0.46vw;
    background: no-repeat url("../img/quastion.svg");
    background-size: contain;
    width: 2.34vw;
    height: 2.34vw;
  }

  .provide__description {
    display: none;
    width: 30vw;
    font-size: 1.82vw;
    margin-top: -15vw;
    margin-left: 3vw;
    padding: 2.6vw 3.91vw 2.6vw 3.91vw;
  }
}
