@media screen and (min-width: 769px) {
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    margin: 0 auto;
    margin-top: 3.26vw;
    display: block;
    position: relative;
    height: 7.16vw;
    width: 94.79vw;
    border-bottom: 0.13vw solid #000000;
  }

  .mobail__firstscreen_logo_block {
    display: flex;
    align-items: center;
    gap: 0.4vw;
  }

  .mobail__frontiers_logo {
    background: no-repeat url("./frontiers_logo.svg");
    background-size: contain;
    width: 3.34vw;
    height: 2.55vw;
  }

  .mobail__firstscreen_logotype {
    font-size: 3.26vw;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.05em;
  }

  .hamburger-lines {
    display: flex;
    height: 1.82vw;
    width: 5.21vw;
    position: absolute;
    top: 1.3vw;
    right: 0;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-lines > div {
    display: block;
    height: 0.26vw;
    width: 100%;
    background: #000;
  }

  .hamburger-lines__go_to_closer {
    display: block;
    height: 2.6vw;
    width: 2.6vw;
    position: absolute;
    top: 1.3vw;
    right: 0;
    background: no-repeat url("./x-closer.svg");
    background-size: contain;
    z-index: 999;
  }

  .menu-items__opened {
    display: flex;
    position: absolute;
    left: -2.6vw;
    top: 0;
    padding-top: 10.42vw;
    background: #fff;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    transition: 0.6s ease-in-out;
    z-index: 10;
  }

  .menu-items__closed {
    display: none;
  }

  .menu-items__string {
    padding-left: 2.6vw;
    font-size: 9.11vw;
    font-weight: 500;
    line-height: 11.07vw;
    padding-bottom: 0.65vw;
  }


  .menu-items__ul > li {
    margin-bottom: 3.91vw;
    display: flex;
    align-items: flex-start;
    gap: 1.3vw;
  }

  .menu__numbers {
    padding-top: 6.6vw;
    font-size: 2.08vw;
    font-weight: 500;
    line-height: 130%;
  }

  .white__line_for_footer_border {
    margin-top: -45vw;
    width: 100vw;
    height: 6.51vw;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 375px) {
  .navbar-container {
    margin: 0 auto;
    margin-top: 5.87vw;
    height: 10.8vw;
    width: 89.33vw;
  }

  .mobail__firstscreen_logo_block {
    display: flex;
    align-items: center;
    gap: 0.4vw;
  }

  .mobail__frontiers_logo {
    background: no-repeat url("./frontiers_logo.svg");
    background-size: contain;
    width: 5.5vw;
    height: 4.2vw;
  }

  .mobail__firstscreen_logotype {
    font-size: 5.33vw;
    font-weight: 700;
    line-height: 130%;
  }

  .hamburger-lines {
    top: 1.33vw;
  }

  .menu-items {
    padding-top: 10vw;
    height: 100vh;
    width: 100vw;
  }

  .menu-items__string {
    font-size: 10vw;
    line-height: 130%;
  }

  .menu-items__ul {
    margin-top: -8vw;
    margin-bottom: 0;
  }

  .menu-items__ul > li {
    margin-bottom: 0;
    gap: 4vw;
  }

  .menu__numbers {
    padding-top: 2.67vw;
    font-size: 4.27vw;
  }

  .white__line_for_footer_border {
    margin-top: -111vw;
    width: 100vw;
    height: 13.33vw;
    background-color: #fff;
  }
}
