.firstscreen__header {
  position: relative;
  z-index: 99;
  background: linear-gradient(#ffffff, #ffffff73);
}

.header_block {
  width: 148.15vh;
  height: 7.6vh;
  margin: 0 auto;
  border-bottom: 0.09vh solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frontiers_logo {
  background: no-repeat url("./frontiers_logo.svg");
  width: 2.22vh;
  height: 1.75vh;
}

.firstscreen__logotype {
  font-weight: 700;
  font-size: 2.31vh;
  line-height: 130%;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.firstscreen__menu {
  width: 67.12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstscreen__nav {
  width: 37.22vh;
}

.firstscreen__nav_team {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 130%;
}

.nav_links {
  display: block;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.nav_links_tablet {
  display: none;
}

.firstscreen__button {
  width: 22.5vh;
  height: 4.166vh;
  text-align: center;
  border: none;
  background-color: #000000;
  font-weight: 500;
  font-size: 1.48vh;
  color: #ffffff;
}

.firstscreen__button_tablet {
  display: none;
}

@media screen and (max-width: 1024px) {
  .firstscreen__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
    width: 100vw;
  }

  .header_block {
    overflow: hidden;
    margin: 0 auto;
    width: 94.14vw;
    height: 7.8125vw;
    border-bottom: 0.097vw solid #000000;
  }

  .firstscreen__logotype {
    font-size: 2.441vw;
  }

  .firstscreen__menu {
    width: 64.16vw;
  }

  .firstscreen__nav {
    width: 32.324vw;
  }

  .firstscreen__nav_team {
    font-size: 1.5625vw;
  }

  .nav_links {
    display: none;
  }

  .nav_links_tablet {
    display: block;
    color: #000000;
  }

  .firstscreen__button {
    display: none;
  }

  .firstscreen__button_tablet {
    display: block;
    padding: 1.2695vw 1.5625vw;
    font-size: 1.5625vw;
    text-align: center;
    background: #000000;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .header_block {
    display: none;
  }
}
