.lastscreen__footer {
  margin: 0 auto;
  margin-top: 10.55vh;
  width: 148.15vh;
  border-top: 0.09vh solid #000000;
}

.lastscreen__footer_wrapper_info {
  margin-top: 3.055vh;
  display: flex;
  justify-content: space-between;
}

.lastscreen__footer_text {
  display: block;
  margin-bottom: 1.39vh;
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 130%;
}

.lastscreen__contact_group_contact,
.lastscreen__contact_group_frontiers {
  margin-bottom: 1.85vh;
  font-weight: 700;
  font-size: 2.31vh;
  line-height: 130%;
}

.lastscreen__contact_group_frontiers {
  display: block;
  margin-bottom: 5.278vh;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.lastscreen__frontiers_group {
  text-align: end;
}

.kojo__logo_hidden {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99;
}

.lastscreen__design_dev {
  position: relative;
  top: -6.5vh;
  margin: 0 auto;
  width: 24.074vh;
  height: 1.76vh;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.lastscreen__design_dev > p {
  margin: 0;
}

.kojo__logo {
  width: 7.777vh;
  height: 1.296vh;
}

@media screen and (max-width: 1024px) {
  .lastscreen__footer {
    margin: 0 auto;
    margin-top: 11.72vw;
    width: 94.14vw;
    border-top: 1px solid #000000;
  }

  .lastscreen__footer_wrapper_info {
    margin-top: 3.22vw;
  }

  .lastscreen__footer_text {
    margin-bottom: 1.46vw;
    font-size: 1.37vw;
  }

  .lastscreen__contact_group_contact,
  .lastscreen__contact_group_frontiers {
    margin-bottom: 1.95vw;
    font-size: 2.44vw;
  }

  .lastscreen__contact_group_frontiers {
    margin-bottom: 5.08vw;
  }

  .lastscreen__design_dev {
    top: -4.88vw;
    margin: 0 auto;
    width: 23.44vw;
    height: 1.66vw;
  }

  .kojo__logo {
    width: 8.3vw;
    height: 1.37vw;
  }
}

@media screen and (max-width: 768px) {
  .lastscreen__footer_wrapper_info {
    margin-bottom: 10.03vw;
  }

  .lastscreen__footer {
    margin: 0 auto;
    margin-top: 13.02vw;
    width: 94.79;
    border-top: 0.13vw solid #000000;
  }

  .lastscreen__footer_text {
    margin-bottom: 1.95vw;
    font-size: 1.86vw;
  }

  .lastscreen__contact_group_contact,
  .lastscreen__contact_group_frontiers {
    margin-bottom: 2.6vw;
    font-size: 3.26vw;
  }

  .lastscreen__contact_group_frontiers {
    margin-bottom: 6.51vw;
  }

  .lastscreen__design_dev {
    top: -9.11vw;
    margin: 0 0;
    width: 31.25vw;
    height: 2.21vw;
  }

  .kojo__logo {
    width: 11.07vw;
    height: 1.86vw;
  }
}

@media screen and (max-width: 375px) {
  .lastscreen__footer {
    height: 98.67vw;
    margin: 0 auto;
    margin-top: 10.67vw;
    width: 89.33vw;
  }

  .lastscreen__footer_wrapper_info {
    margin-bottom: 0px;
    flex-direction: column;
  }

  .lastscreen__footer_text {
    margin-bottom: 4vw;
    font-size: 3.73vw;
  }

  .lastscreen__frontiers_group {
    text-align: left;
  }

  .lastscreen__contact_group_frontiers {
    margin: 6.67vw 0 5.33vw 0;
  }

  .lastscreen__contact_group_contact,
  .lastscreen__contact_group_frontiers {
    margin-bottom: 5.33vw;
    font-size: 5.33vw;
  }

  .lastscreen__design_dev {
    top: 5.33vw;
    margin: 0 0;
    width: 64.27vw;
    height: 4.53vw;
  }

  .kojo__logo {
    width: 22.4vw;
    height: 3.73vw;
  }
}
