.lastscreen__footer {
  margin: 0 auto;
  width: 148.15vh;
  border-top: 0.09vh solid #000000;
}

.lastscreen__footer_wrapper_info {
  margin-top: 3.055vh;
  display: flex;
  justify-content: space-between;
}

.lastscreen__footer_text {
  display: block;
  margin-bottom: 1.39vh;
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 130%;
}

.lastscreen__contact_group_frontiers {
  display: block;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.lastscreen__contact_group_contact,
.lastscreen__contact_group_frontiers {
  margin-bottom: 1.85vh;
  font-weight: 700;
  font-size: 2.31vh;
  line-height: 130%;
}

.lastscreen__frontiers_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lastscreen__design_dev {
  display: flex;
  align-items: baseline;
  justify-self: flex-end;
}

.lastscreen__design_dev_text {
  display: block;
  font-weight: 500;
  font-size: 1.48vh;
  line-height: 130%;
}

.kojo__logo_hidden {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99;
}

.kojo__logo {
  margin-left: 1vh;
  width: 7.777vh;
  height: 1.296vh;
}

.lastscreen__info {
  width: 67.59vh;
  display: flex;
  justify-content: space-between;
}

.lastscreen__info_375 {
  display: none;
}

.lastscreen__footer_info_img {
  background: center / contain no-repeat url("./img/info_circle.svg");
  width: 1.48vh;
  height: 1.48vh;
}

.lastscreen__footer_info_text {
  width: 65.1vh;
  font-size: 1.2vh;
  font-weight: 500;
  line-height: 130%;
}

@media screen and (max-width: 1024px) {
  .lastscreen__footer {
    margin: 0 auto;
    margin-top: 11.72vw;
    width: 94.14vw;
    border-top: 1px solid #000000;
  }

  .lastscreen__footer_wrapper_info {
    margin-top: 3.22vw;
    flex-wrap: wrap;
  }

  .lastscreen__footer_text {
    margin-bottom: 1.46vw;
    font-size: 1.37vw;
  }

  .lastscreen__frontiers_group {
    text-align: right;
  }

  .lastscreen__contact_group_contact,
  .lastscreen__contact_group_frontiers {
    margin-bottom: 1.95vw;
    font-size: 2.44vw;
  }

  .lastscreen__design_dev_text {
    font-size: 1.37vw;
  }

  .kojo__logo {
    margin-left: 1vw;
    width: 8.3vw;
    height: 1.37vw;
  }

  .lastscreen__info {
    margin-top: 6.15vw;
    margin-bottom: 3.91vw;
    width: 94.14vw;
  }

  .lastscreen__footer_info_img {
    background: center / contain no-repeat url("./img/info_circle.svg");
    width: 1.56vw;
    height: 1.56vw;
  }

  .lastscreen__footer_info_text {
    width: 91.6vw;
    font-size: 1.27vw;
  }
}

@media screen and (max-width: 768px) {
  .lastscreen__footer {
    margin: 0 auto;
    margin-top: 13.02vw;
    width: 94.79vw;
    border-top: 0.13vw solid #000000;
  }

  .lastscreen__footer_wrapper_info {
    margin-top: 4.3vw;
  }

  .lastscreen__footer_text {
    margin-bottom: 1.95vw;
    font-size: 1.86vw;
  }

  .lastscreen__contact_group_contact,
  .lastscreen__contact_group_frontiers {
    margin-bottom: 2.6vw;
    font-size: 3.26vw;
  }

  .lastscreen__design_dev_text {
    font-size: 1.86vw;
  }

  .kojo__logo {
    margin-left: 1.3vw;
    width: 11.07vw;
    height: 1.86vw;
  }

  .lastscreen__info {
    margin-top: 6.51vw;
    margin-bottom: 5.21vw;
    width: 94.79vw;
  }

  .lastscreen__footer_info_img {
    background: center / contain no-repeat url("./img/info_circle.svg");
    width: 2.08vw;
    height: 2.08vw;
  }

  .lastscreen__footer_info_text {
    width: 91.41vw;
    font-size: 1.69vw;
  }
}

@media screen and (max-width: 375px) {
  .lastscreen__footer {
    height: auto;
    margin: 0 auto;
    margin-top: 10.67vw;
    width: 89.33vw;
  }

  .lastscreen__footer_wrapper_info {
    margin-top: 8vw;
    flex-direction: column;
  }

  .lastscreen__footer_text {
    margin-bottom: 4vw;
    font-size: 3.73vw;
  }

  .lastscreen__frontiers_group {
    text-align: left;
  }

  .lastscreen__contact_group_frontiers {
    margin: 4vw 0 5.33vw 0;
  }

  .lastscreen__contact_group_contact,
  .lastscreen__contact_group_frontiers {
    margin-bottom: 5.33vw;
    font-size: 5.33vw;
  }

  .lastscreen__design_dev {
    margin-top: 10.67vw;
  }

  .lastscreen__design_dev_text {
    font-size: 3.73vw;
  }

  .kojo__logo {
    margin-left: 2.67vw;
    width: 22.4vw;
    height: 3.73vw;
  }

  .lastscreen__info {
    display: none;
  }

  .lastscreen__info_375 {
    display: block;
    margin-top: 10.93vw;
    margin-bottom: 10.67vw;
    width: 89.33vw;
  }

  .lastscreen__info_375_title {
    display: flex;
    margin-bottom: 4vw;
  }

  .lastscreen__footer_info_img {
    margin-right: 2.67vw;
    background: center / contain no-repeat url("./img/info_circle.svg");
    width: 4.27vw;
    height: 4.27vw;
  }

  .lastscreen__footer_info_text {
    width: 89.33vw;
    font-size: 3.47vw;
  }
}
