.third__block {
  margin: 0 auto;
  margin-top: 378px;
  margin-bottom: 174px;
  width: 1600px;
  height: 670px;
}

.third__block_title {
  font-size: 90px;
  font-weight: 300;
  line-height: 109px;
}

.third__block_main {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.third__block_description {
  margin-top: 427px;
  width: 264px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  line-height: 130%;
  text-transform: uppercase;
}

.persones {
  display: flex;
  gap: 20px;
}

.big_persona {
  width: 377px;
  height: 500px;
  transition: 0.6s ease-out;
}

.big_persona:hover {
  filter: grayscale(100%);
}

.persones_description {
  margin: 0 auto;
  height: 120px;
  width: 317px;
  padding-top: 390px;
  color: #fff;
  transition: 0.6s ease-out;
}

.persones_description:hover {
  margin: 0 auto;
  padding-top: 30px;
  height: 500px;
}

.persones__text {
  display: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.persones_description:hover > .persones__text {
  display: block;
  margin-top: 30px;
  color: #fff;
}

.persones__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.persones__hr {
  border-top: 2px;
  border-left: 0;
  border-color: #fff;
}
.persones__name {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.persona_01,
.persona_02,
.persona_03,
.persona_04,
.persona_05,
.persona_06,
.persona_07 {
  width: 105px;
  height: 500px;
  filter: grayscale(100%);
  background-position: center;
  transition: 0.6s ease-out;
}
.persona_01:hover,
.persona_02:hover,
.persona_03:hover,
.persona_04:hover,
.persona_05:hover,
.persona_06:hover,
.persona_07:hover {
  filter: none;
  transform: scale(1.05) translateY(12px);
  width: 105px;
  transition: 0.6s ease-out;
}
