.numbers__content_block {
  margin: 0 auto;
  padding-top: 16.11vh;
  height: 60.185vh;
  width: 148.15vh;
  display: flex;
  flex-direction: column;
}

.numbers__title_first,
.numbers__title_second {
  font-size: 6.018vh;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.numbers__title_second {
  padding-left: 31.852vh;
}

.numbers__flex_box {
  margin-top: 7.476vh;
  width: 110.37vh;
  border-top: 0.1vh solid #000;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
}

.numbers__big_numbers {
  margin-top: 3.7vh;
  font-size: 6.018vh;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.numbers__small_description {
  margin-top: 0.925vh;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .numbers__content_block {
    margin: 0 auto;
    padding-top: 11.72vw;
    height: 39.84vw;
    width: 94.14vw;
  }

  .numbers__title_first,
  .numbers__title_second {
    font-size: 2.93vw;
  }

  .numbers__title_second {
    padding-left: 20.61vw;
  }

  .numbers__flex_box {
    margin-top: 4.88vw;
    width: 94.14vw;
    border-top: 0.1vw solid #000;
  }

  .numbers__big_numbers {
    margin-top: 3.91vw;
    font-size: 3.91vw;
  }

  .numbers__small_description {
    margin-top: 0.98vw;
    font-size: 1.97vw;
  }
}

@media screen and (max-width: 768px) {
  .numbers__content_block {
    margin: 0 auto;
    padding-top: 13.02vw;
    height: 50.78vw;
    width: 94.79vw;
  }

  .numbers__title_first,
  .numbers__title_second {
    font-size: 5.21vw;
    width: 59.9vw;
  }

  .numbers__title_second {
    padding-left: 0;
    width: 84.64vw;
  }

  .numbers__flex_box {
    margin-top: 5.21vw;
    width: 94.79vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .numbers__big_numbers {
    margin-top: 3.91vw;
    font-size: 3.91vw;
  }

  .numbers__small_description {
    margin-top: 1.3vw;
    font-size: 1.69vw;
  }
}

@media screen and (max-width: 375px) {
  .numbers__content_block {
    margin: 0 auto;
    padding-top: 18.67vw;
    width: 89.33vw;
    height: 167.47vw;
  }

  .numbers__title_first,
  .numbers__title_second {
    font-size: 6.67vw;
    width: 74.67vw;
  }

  .numbers__description,
  .numbers__flex_box,
  .numbers__flex_block {
    width: 89.33vw;
  }

  .numbers__flex_box_1v,
  .numbers__flex_box_2v,
  .numbers__flex_box_3v {
    flex-direction: column;
    max-width: 89.33vw;
    min-width: 89.33vw;
  }

  .numbers__big_numbers {
    margin-top: 5.33vw;
    font-size: 6.67vw;
  }

  .numbers__small_description {
    margin-top: 2.67vw;
    font-size: 3.47vw;
  }
}
