.numbers__content_block {
  margin: 0 auto;
  padding-top: 16.11vh;
  height: 60.185vh;
  width: 148.15vh;
  display: flex;
  flex-direction: column;
}

.numbers__title_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2.7vh;
}

.numbers__title {
  font-size: 6.018vh;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.numbers__title_our {
  padding-left: 31.852vh;
}

.numbers__navigation_goback_arrow,
.numbers__navigation_goforward_arrow {
  box-sizing: border-box;
  background: no-repeat url("../team/img/arrow.svg");
  background-position: center;
  background-size: contain;
  width: 3.703vh;
  cursor: pointer;
}

.numbers__navigation_goforward_arrow {
  transform: rotate(180deg);
}

.numbers__flex_box {
  margin-top: 7.476vh;
  width: 110.37vh;
  border-top: 0.1vh solid #000;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
}

.numbers__big_numbers {
  margin-top: 3.7vh;
  font-size: 6.018vh;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.numbers__small_description {
  margin-top: 0.925vh;
  font-size: 1.48vh;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .numbers__content_block {
    margin: 0 auto;
    padding-top: 11.72vw;
    height: 39.84vw;
    width: 94.14vw;
  }

  .numbers__title_flex {
    gap: 1.2vw;
  }

  .numbers__title {
    font-size: 2.93vw;
  }

  .numbers__title_our {
    padding-left: 27.61vw;
  }

  .numbers__navigation_goback_arrow,
  .numbers__navigation_goforward_arrow {
    width: 3.91vw;
    margin: 1vw;
  }

  .numbers__flex_box {
    margin-top: 4.88vw;
    width: 94.14vw;
    border-top: 0.1vw solid #000;
  }

  .numbers__big_numbers {
    margin-top: 3.91vw;
    font-size: 3.91vw;
  }

  .numbers__small_description {
    margin-top: 0.98vw;
    font-size: 1.97vw;
  }
}

@media screen and (max-width: 768px) {
  .numbers__content_block {
    margin: 0 auto;
    padding-top: 13.02vw;
    height: 50.78vw;
    width: 94.79vw;
  }

  .numbers__title_flex {
    gap: 1.2vw;
  }

  .numbers__title {
    font-size: 5.21vw;
  }

  .numbers__title_give,
  .numbers__title_our {
    padding-left: 0;
    margin-right: 35vw;
  }

  .numbers__navigation_goback_arrow,
  .numbers__navigation_goforward_arrow {
    width: 3.91vw;
    margin: 2vw;
  }

  .numbers__flex_box {
    margin-top: 5.21vw;
    width: 94.79vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .numbers__big_numbers {
    margin-top: 3.91vw;
    font-size: 3.91vw;
  }

  .numbers__small_description {
    margin-top: 1.3vw;
    font-size: 1.69vw;
  }
}

@media screen and (max-width: 375px) {
  .numbers__content_block {
    margin: 0 auto;
    padding-top: 18.67vw;
    width: 89.33vw;
    height: 167.47vw;
  }

  .numbers__title_flex {
    gap: 2vw;
  }

  .numbers__title {
    font-size: 6.67vw;
  }

  .numbers__title_give,
  .numbers__title_our {
    margin-right: 0;
  }

  .numbers__title_give,
  .numbers__title_take {
    margin-right: 15vw;
  }

  .numbers__title_clients {
    margin-right: 28vw;
  }

  .numbers__navigation_goback_arrow,
  .numbers__navigation_goforward_arrow {
    width: 8vw;
    margin: 2vw;
  }

  .numbers__description,
  .numbers__flex_box,
  .numbers__flex_block {
    width: 89.33vw;
  }

  .numbers__flex_box_1v,
  .numbers__flex_box_2v,
  .numbers__flex_box_3v {
    flex-direction: column;
    max-width: 89.33vw;
    min-width: 89.33vw;
  }

  .numbers__big_numbers {
    margin-top: 5.33vw;
    font-size: 6.67vw;
  }

  .numbers__small_description {
    margin-top: 2.67vw;
    font-size: 3.47vw;
  }
}
